smos-reader/src/main/resources/org/esa/beam/dataio/smos/schemas/common/REP_/FFT_Specific_Product_Report_0005.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML schema for smos product -->
<!--  v 5.0 14/06/2007 -->
<!-- www.indra.es -->
<!-- teledeteccion@indra.es -->
<!-- Copyright (c) 2006 Indra Espacio -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://213.170.46.150/smos/schemas" version="0005" xmlns="http://213.170.46.150/smos/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../common/Basic_Types_0012.xsd"/>
	<xs:complexType name="FTT_Generation_Type">
		<xs:sequence>
			<xs:element default="0000" name="Number_of_scenes" type="integer_04d_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Specific_Product_Report_Type">
		<xs:sequence>
			<xs:element name="FTT_Generation" type="FTT_Generation_Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>