smos-reader/src/main/resources/org/esa/beam/dataio/smos/schemas/common/REP_/L1A_MIR_UAV1A_AFW1A_Specific_Product_Report_0005.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML schema for smos product -->
<!--  v 5.0 14/06/2007 -->
<!-- www.indra.es -->
<!-- teledeteccion@indra.es -->
<!-- Copyright (c) 2006 Indra Espacio -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://213.170.46.150/smos/schemas" version="0005" xmlns="http://213.170.46.150/smos/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../common/Basic_Types_0012.xsd"/>
	<xs:complexType name="Consolidation_info_Type">
		<xs:sequence>
			<xs:element default="0000" name="Number_of_consolidated_epochs" type="integer_04d_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Calibration_info_Type">
		<xs:sequence>
			<xs:element default="000" name="Number_of_Calib_Sequences" type="integer_03d_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Raw_Correlations_Processor_Type">
		<xs:sequence>
			<xs:element default="x" name="Antennae_pair" type="string_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Elements_out_of_range_Type">
		<xs:sequence>
			<xs:element default="x" name="Element_ID" type="string_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="List_Elements_out_of_ranges_Type">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Elements_out_of_range" type="Elements_out_of_range_Type"/>
		</xs:sequence>
		<xs:attribute default="0" name="count" type="unsigned_Integer_hd_Type"/>
	</xs:complexType>
	<xs:complexType name="Specific_Product_Report_Type">
		<xs:sequence>
			<xs:element default="0000" name="Number_Downlinked_Packets" type="integer_04d_Type"/>
			<xs:element default="0000" name="Number_Missing_Packets" type="integer_04d_Type"/>
			<xs:element default="0000" name="Number_Corrupted_Packets" type="integer_04d_Type"/>
			<xs:element name="List_of_Elements_out_of_ranges" type="List_Elements_out_of_ranges_Type"/>
			<xs:element name="Raw_Correlations_Processor" type="Raw_Correlations_Processor_Type"/>
			<xs:element name="Calibration_info" type="Calibration_info_Type"/>
			<xs:element name="Consolidation_info" type="Consolidation_info_Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>