smos-reader/src/main/resources/org/esa/beam/dataio/smos/schemas/common/REP_/L1B_Specific_Product_Report_0005.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML schema for smos product -->
<!--  v 5.0 14/06/2007 -->
<!-- www.indra.es -->
<!-- teledeteccion@indra.es -->
<!-- Copyright (c) 2006 Indra Espacio -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://213.170.46.150/smos/schemas" version="0005" xmlns="http://213.170.46.150/smos/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../common/Basic_Types_0012.xsd"/>
	<xs:complexType name="L1b_corrections_Type">
		<xs:sequence>
			<xs:element default="0" name="Sun_Corr" type="integer_01d_Flag_Type"/>
			<xs:element default="0" name="Moon_Corr" type="integer_01d_Flag_Type"/>
			<xs:element default="0" name="Earth_Corr" type="integer_01d_Flag_Type"/>
			<xs:element default="0" name="Sunglint_Corr" type="integer_01d_Flag_Type"/>
			<xs:element default="0" name="Backlobes_Corr" type="integer_01d_Flag_Type"/>
			<xs:element default="0" name="Receivers_Corr" type="integer_01d_Flag_Type"/>
			<xs:element default="0" name="FTT_Corr" type="integer_01d_Flag_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Specific_Product_Report_Type">
		<xs:sequence>
			<xs:element name="L1b_corrections" type="L1b_corrections_Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>