smos-reader/src/main/resources/org/esa/beam/dataio/smos/schemas/common/REP_/L1C_Specific_Product_Report_0005.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML schema for smos product -->
<!--  v 5.0 14/06/2007 -->
<!-- www.indra.es -->
<!-- teledeteccion@indra.es -->
<!-- Copyright (c) 2006 Indra Espacio -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://213.170.46.150/smos/schemas" version="0005" xmlns="http://213.170.46.150/smos/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../common/Basic_Types_0012.xsd"/>
	<xs:complexType name="Temp_pixel_out_of_range_Type">
		<xs:sequence>
			<xs:element default="00000000" name="Grid_Point_ID" type="integer_08d_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="List_Temp_pixel_out_of_ranges_Type">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Temp_pixel_out_of_range" type="Temp_pixel_out_of_range_Type"/>
		</xs:sequence>
		<xs:attribute default="0" name="count" type="unsigned_Integer_hd_Type"/>
	</xs:complexType>
	<xs:complexType name="L1c_pixel_info_Type">
		<xs:sequence>
			<xs:element name="List_of_Temp_pixel_out_of_ranges" type="List_Temp_pixel_out_of_ranges_Type"/>
			<xs:element default="000.000" name="Ratio_of_pixels_in_browse" type="float_03p3f_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Specific_Product_Report_Type">
		<xs:sequence>
			<xs:element name="L1c_pixel_info" type="L1c_pixel_info_Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>