smos-reader/src/main/resources/org/esa/beam/dataio/smos/dddb/schemas/AUX_/VTEC_P/HDR_SM_XXXX_AUX_VTEC_P_0009.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by mtmpalomares (EMBRACE)-->
<!-- XML schema for smos product -->
<!--  v 9.0 14/06/2007 -->
<!-- www.indra.es -->
<!-- teledeteccion@indra.es -->
<!-- Copyright (c) 2006 Indra Espacio -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://213.170.46.150/smos/schemas" version="0009" xmlns="http://213.170.46.150/smos/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../../common/common/Complex_Unit_Types_0010.xsd"/>
	<xs:include schemaLocation="../../common/common/Fixed_Header_0011.xsd"/>
	<xs:include schemaLocation="../../common/AUX_/Auxiliary_SPH_Data_Sets_0008.xsd"/>
	<xs:include schemaLocation="../../common/AUX_/Auxiliary_L1_Main_SPH_for_Binary_0007.xsd"/>
	<xs:complexType name="Longitude_Vector_Type">
		<xs:sequence>
			<xs:element default="+000.000" name="Longitude_Vector_1st" type="deg_float_s04p3f_Unit_Type"/>
			<xs:element default="+000.000" name="Longitude_Vector_2nd" type="deg_float_s04p3f_Unit_Type"/>
			<xs:element default="+000.000" name="Longitude_Vector_Increment" type="deg_float_s04p3f_Unit_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Latitude_Vector_Type">
		<xs:sequence>
			<xs:element default="+00.000" name="Latitude_Vector_1st" type="deg_float_s03p3f_Unit_Type"/>
			<xs:element default="+00.000" name="Latitude_Vector_2nd" type="deg_float_s03p3f_Unit_Type"/>
			<xs:element default="+00.000" name="Latitude_Vector_Increment" type="deg_float_s03p3f_Unit_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Height_Vector_Type">
		<xs:sequence>
			<xs:element default="0000.000" name="Height_Vector_1st" type="Km_float_04p3f_Unit_Type"/>
			<xs:element default="0000.000" name="Height_Vector_2nd" type="Km_float_04p3f_Unit_Type"/>
			<xs:element default="0000.000" name="Height_Vector_Increment" type="Km_float_04p3f_Unit_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Data_set_QC_Type">
		<xs:sequence>
			<xs:element default="000" name="Mean_TEC" type="integer_03d_Type"/>
			<xs:element default="000" name="STD_TEC" type="integer_03d_Type"/>
			<xs:element default="000" name="Max_TEC" type="integer_03d_Type"/>
			<xs:element default="000" name="Min_TEC" type="integer_03d_Type"/>
			<xs:element default="00000" name="VTEC_PCD" type="integer_05d_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="List_Data_set_QC_Type">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Data_set_QC" type="Data_set_QC_Type"/>
		</xs:sequence>
		<xs:attribute default="0" name="count" type="unsigned_Short_hu_Type"/>
	</xs:complexType>
	<xs:complexType name="AUX_VTEC_Descriptor_Type">
		<xs:sequence>
			<xs:element default="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" name="ftp_server" type="string_60_Type"/>
			<xs:element default="000" name="ftp_server_polling" type="min_integer_03d_Unit_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IONEX_Descriptor_Type">
		<xs:sequence>
			<xs:element default="xxxxxxxx" name="IONEX_version" type="string_8_Type"/>
			<xs:element default="x" name="Type" type="string_1_Type"/>
			<xs:element default="xxx" name="Source" type="string_3_Type"/>
			<xs:element default="xxxxxxxxxxxxxxxxxxxx" name="SW_version" type="string_20_Type"/>
			<xs:element default="xxxxxxxxxxxxxxxxxxxx" name="Institute" type="string_20_Type"/>
			<xs:element default="UTC=2007-01-01T00:00:00.000000" name="Creation_date" type="string_date_30_Type"/>
			<xs:element default="UTC=2007-01-01T00:00:00.000000" name="Epoch_first_map" type="string_date_30_Type"/>
			<xs:element default="UTC=2007-01-01T00:00:00.000000" name="Epoch_last_map" type="string_date_30_Type"/>
			<xs:element default="00000" name="Interval" type="sec_integer_05d_Unit_Type"/>
			<xs:element default="000" name="Number_of_maps" type="integer_03d_Type"/>
			<xs:element default="xxxx" name="Mapping_function" type="string_4_Type"/>
			<xs:element default="+000.000" name="Elevation_cutoff" type="deg_float_s04p3f_Unit_Type"/>
			<xs:element default="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" name="Observables_used" type="string_60_Type"/>
			<xs:element default="0000" name="Number_of_station" type="integer_04d_Type"/>
			<xs:element default="00" name="Number_of_satellite" type="integer_02d_Type"/>
			<xs:element default="00000.000000" name="Base_radius" type="Km_double_05p6lf_Unit_Type"/>
			<xs:element default="00" name="Map_dimension" type="integer_02d_Type"/>
			<xs:element name="Height_Vector" type="Height_Vector_Type"/>
			<xs:element name="Latitude_Vector" type="Latitude_Vector_Type"/>
			<xs:element name="Longitude_Vector" type="Longitude_Vector_Type"/>
			<xs:element default="+00" name="Scale_factor" type="integer_s03d_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Specific_Product_Header_Type">
		<xs:sequence>
			<xs:element name="Main_SPH" type="Main_SPH_Type"/>
			<xs:element name="IONEX_Descriptor" type="IONEX_Descriptor_Type"/>
			<xs:element name="AUX_VTEC_Descriptor" type="AUX_VTEC_Descriptor_Type"/>
			<xs:element name="List_Data_set_QC" type="List_Data_set_QC_Type"/>
			<xs:element name="List_of_Data_Sets" type="List_Data_Sets_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Variable_Header_Type">
		<xs:sequence>
			<xs:element name="Specific_Product_Header" type="Specific_Product_Header_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Header_Type">
		<xs:sequence>
			<xs:element name="Fixed_Header" type="Fixed_Header_Type"/>
			<xs:element name="Variable_Header" type="Variable_Header_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Earth_Explorer_Header" type="Header_Type"/>
</xs:schema>