smos-reader/src/main/resources/org/esa/beam/dataio/smos/schemas/common/AUX_/Auxiliary_L1_Main_SPH_for_Binary_0007.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML schema for smos product -->
<!--  v 7.0 14/06/2007 -->
<!-- www.indra.es -->
<!-- teledeteccion@indra.es -->
<!-- Copyright (c) 2006 Indra Espacio -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://213.170.46.150/smos/schemas" version="0007" xmlns="http://213.170.46.150/smos/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../../common/common/Basic_Types_0012.xsd"/>
	<xs:complexType name="Main_SPH_Type">
		<xs:sequence>
			<xs:element default="XXXXXXXXXXXXXX" name="SPH_Descriptor" type="string_14_Type"/>
			<xs:element default="SO-TN-IDR-GS-0005" name="Ref_Doc" type="string_17_Type"/>
			<xs:element default="UTC=2007-01-01T00:00:00.000000" name="Precise_Validity_Start" type="string_date_30_Type"/>
			<xs:element default="UTC=2007-01-01T00:00:00.000000" name="Precise_Validity_Stop" type="string_date_30_Type"/>
			<xs:element default="0000000000" name="Checksum" type="long_010ld_Type"/>
			<xs:element default="HDR_MM_CCCC_TTTTTTTTTT_vvvv.xsd" name="Header_Schema" type="string_31_Type"/>
			<xs:element default="DBL_MM_CCCC_TTTTTTTTTT_vvvv.binXschema.xml" name="Datablock_Schema" type="string_42_Type"/>
			<xs:element default="000000" name="Header_Size" type="integer_06d_Type"/>
			<xs:element default="00000000000" name="Datablock_Size" type="long_011ld_Type"/>
			<xs:element default="xxxx" name="HW_Identifier" type="string_4_Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>