smos-reader/src/main/resources/org/esa/beam/dataio/smos/schemas/common/AUX_/Auxiliary_SPH_Auxiliary_Source_Information_0007.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML schema for smos product -->
<!--  v 7.0 14/06/2007 -->
<!-- www.indra.es -->
<!-- teledeteccion@indra.es -->
<!-- Copyright (c) 2006 Indra Espacio -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://213.170.46.150/smos/schemas" version="0007" xmlns="http://213.170.46.150/smos/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../common/Basic_Types_0012.xsd"/>
	<xs:complexType name="Auxiliary_Source_Information_Type">
		<xs:sequence>
			<xs:element default="x" name="Auxiliary_Data_Provider" type="string_Type"/>
			<xs:element default="1" name="Source_Type" type="integer_01d_Source_Type_Type"/>
			<xs:element default="x" name="Source_Product_Name" type="string_Type"/>
			<xs:element default="x" name="Native_Format" type="string_Type"/>
			<xs:element default="UTC=2007-01-01T00:00:00.000000" name="Measurement_Start_Time" type="string_date_30_Type"/>
			<xs:element default="UTC=2007-01-01T00:00:00.000000" name="Measurement_Stop_Time" type="string_date_30_Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>