smos-reader/src/main/resources/org/esa/beam/dataio/smos/schemas/AUX_/DFFLMX/HDR_SM_XXXX_AUX_DFFLMX_0008.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML schema for smos product -->
<!--  v 8.0 14/06/2007 -->
<!-- www.indra.es -->
<!-- teledeteccion@indra.es -->
<!-- Copyright (c) 2006 Indra Espacio -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://213.170.46.150/smos/schemas" version="0008" xmlns="http://213.170.46.150/smos/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../../common/common/Basic_Types_0012.xsd"/>
	<xs:include schemaLocation="../../common/common/Fixed_Header_0011.xsd"/>
	<xs:include schemaLocation="../../common/AUX_/Auxiliary_L2_Main_SPH_for_Binary_0006.xsd"/>
	<xs:include schemaLocation="../../common/AUX_/Auxiliary_L2_SPH_Data_Sets_0008.xsd"/>
	<xs:complexType name="mExp2_mExp-2_double_03p6lf_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="double_03p6lf_Type">
				<xs:attribute default="m^2·m^-2" name="unit" type="string_Type"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Specific_Product_Header_Type">
		<xs:sequence>
			<xs:element name="Main_SPH" type="Main_SPH_Type"/>
			<xs:element default="000" name="Num_Polar_Zones" type="integer_03d_Type"/>
			<xs:element default="000" name="Num_Equator_Zones" type="integer_03d_Type"/>
			<xs:element default="00" name="Digits_To_Shift" type="integer_02d_Type"/>
			<xs:element default="000.000000" name="Offset" type="mExp2_mExp-2_double_03p6lf_Unit_Type"/>
			<xs:element default="0.00000000" name="Scaling_Factor" type="double_01p8lf_Type"/>
			<xs:element name="List_of_Data_Sets" type="List_Data_Sets_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Variable_Header_Type">
		<xs:sequence>
			<xs:element name="Specific_Product_Header" type="Specific_Product_Header_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Header_Type">
		<xs:sequence>
			<xs:element name="Fixed_Header" type="Fixed_Header_Type"/>
			<xs:element name="Variable_Header" type="Variable_Header_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Earth_Explorer_Header" type="Header_Type"/>
</xs:schema>